* {
    margin: 0px; padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background: #f9f1fc;
    font-family: Arial;
}

a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover, a:active {
    color: #000000;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 100px;
    text-align:center;
    padding:0 0 20px 0;
}

#container {
	width: 600px;
	height: 400px;
}

.framework {
    width: 200px;
    float:left;
    margin: 10px 0 0 20px;
}

    .framework h2 {
        margin-bottom: 5px;
    }

    .framework li {
        list-style: none;
        margin: 0 0 5px 0;
    }


.renderWebGl {
    float:left;
}

.codeWebGl {
    float: left;
}